.header{
    background-image: url(../../assets/images/bg-desktop-light.jpg);
    width: 100vw;
    height: 17rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    
}

.banner{
    width: 90%;
    color: white;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: .5rem;
    padding-top: 4rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    display: flex;
    margin: auto;
    justify-content: space-between;
}


.icon{
    object-fit: contain;
}
